*{
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.3s ;
    scroll-behavior: smooth;
    font-family: var( --font-family-1);
  }
  
  body{
      height: 2000px; /* To enable scrolling */
  }

/* about-us section styling */
.element-about-us-section{
    position: relative;
    overflow: hidden;
}

.element-about-us-section .element-about-us-section-container{
   height: 600px;
   transition: transform 0.5s ease-in-out;
}

.element-about-us-section  .element-about-us-section-container .element-about-us-section-content img{
    width: 100%;
    height: 600px; 
     background-position: center center;
    background-repeat: no-repeat;
    background-position-x: center;
    object-fit: cover;
}

.element-about-us-section  .element-about-us-section-container .element-about-us-section-content{
    position: relative;
    width: 100%;
    flex-shrink: 0;
}

.element-about-us-section  .element-about-us-section-container .element-about-us-section-content 
.element-about-us-section-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.element-about-us-section  .element-about-us-section-container .element-about-us-section-content 
.element-about-us-section-content-text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   width: 100%;
   z-index: 500;
}

.element-about-us-section-content-p-text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   width: 100%;
   z-index: 500;

}

 .element-about-us-section  .element-about-us-section-container .element-about-us-section-content 
.element-about-us-section-content-text .element-about-us-section-content-h1-text h1 {
     font-size: var(  --main-site-font-max-size); 
    font-family: var(--main-site-font-family);
    color: var(--main-site-h1-h2);
    font-weight: var(--main-site-font-weight);  
    margin: 60px 0;
}
 
@media (max-width:768px){
    .element-about-us-section  .element-about-us-section-container .element-about-us-section-content 
.element-about-us-section-content-text .element-about-us-section-content-h1-text h1 {
    font-size: var(    --main-site-max-2-size );
  }
}

@media (max-width:500px){
    .element-about-us-section  .element-about-us-section-container .element-about-us-section-content 
.element-about-us-section-content-text .element-about-us-section-content-h1-text h1 {
    font-size: var(  --main-site-font-med-size  );
  }
}

/* about-us section info styling  */
.element-about-us-section-info{
    padding: 60px 20px ;
    max-width: 100%;
    background-color: var(--main-site-background );
}

.element-about-us-section-info .about-content-writeup-info{
    max-width: 600px ;
    margin: 0 auto;
    line-height: var(--main-site-line-height);
   
}

/* about-us vision section */
.element-about-us-vision-section{
   padding: 60px 0;
    display: flex; 
    justify-content: center; 
    background-color: var( --main-site-hdr); 
}

.element-about-us-vision-section .element-about-us-vision-section-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;     
    width: 75%;
    grid-gap: 40px;
    overflow: hidden; 
}

.element-about-us-vision-section .element-about-us-vision-section-wrapper 
.element-about-us-vision-section-wrapper-content-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.element-about-us-vision-section .element-about-us-vision-section-wrapper 
.element-about-us-vision-section-image-wrapper{
   overflow: hidden; 
   position: relative;
   transition: transform 0.5s ease-in-out;
 }

.element-about-us-vision-section .element-about-us-vision-section-wrapper 
.element-about-us-vision-section-image-wrapper .element-about-us-vision-image-slider {
  display: flex;
  flex-shrink: 0; 
  transition: transform 0.5s ease-in-out;
}


.element-about-us-vision-section .element-about-us-vision-section-wrapper 
.element-about-us-vision-section-image-wrapper .element-about-us-vision-image-slider
img{
    width: 100%; 
    flex-shrink: 0; 
    object-fit: cover; 
     aspect-ratio: 16 / 12;   
 }

.element-about-us-vision-section .element-about-us-vision-section-wrapper 
.element-about-us-vision-section-image-wrapper .element-about-us-vision-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.element-about-us-vision-section .element-about-us-vision-section-wrapper 
.element-about-us-vision-section-image-wrapper  .element-about-us-vision-image-content{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-site-hdr);
    z-index: 500;
    font-family: var(--main-site-font-family);
}

.element-about-us-vision-section .element-about-us-vision-section-wrapper .fade-in-animate{
  opacity: 0;
  transform: translateY(50px);
  transform: translateY(50px);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
  transition-delay: var(--delay, 2s); 
  visibility: hidden;  
}

.element-about-us-vision-section .element-about-us-vision-section-wrapper 
.fade-in-animate.visible{
   opacity: 1;
   transform: translateY(0);
   visibility: visible; 
}


@media (max-width:800px){
.element-about-us-vision-section .element-about-us-vision-section-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
     width: 90%; 
   }
}


/* about-us mission styling */
.element-about-us-mission-section{
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.element-about-us-mission-section .elemeent-about-us-mission-section-wrapper{
     width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; 
     justify-content: center;      
    width: 75%;
    grid-gap: 40px;
}

.element-about-us-mission-section .elemeent-about-us-mission-section-wrapper .fade-in-animate{
  opacity: 0;
  transform: translateY(50px);
  transform: translateY(50px);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
  transition-delay: var(--delay, 2s); 
  visibility: hidden;
}

.element-about-us-mission-section .elemeent-about-us-mission-section-wrapper 
.fade-in-animate.fade-in-animate.visible{
    opacity: 1;
   transform: translateY(0);
   visibility: visible;
}

.element-about-us-mission-section .elemeent-about-us-mission-section-wrapper 
.element-about-us-mission-section-image-wrapper{
    position: relative;
    max-width: 500px;
} 

.element-about-us-mission-section .elemeent-about-us-mission-section-wrapper 
.element-about-us-mission-section-image-wrapper img{
    width: 60%;
    object-fit: cover;
}

.element-about-us-mission-section .elemeent-about-us-mission-section-wrapper 
.element-about-us-mission-section-image-wrapper  .big-image{
    position: absolute;
    width: 60%;
    top:50%;
    right: -1%;
    transform: translateY(-50%);
}

.element-about-us-mission-section .elemeent-about-us-mission-section-wrapper 
.element-about-us-mission-section-image-wrapper .small-image{
   width: 60%;
}

.element-about-us-mission-section .elemeent-about-us-mission-section-wrapper 
.element-about-us-mission-section-wrapper-content-info{
    display: flex;
    flex-direction: column;
    gap: 20px ;
}

.element-about-us-mission-section .elemeent-about-us-mission-section-wrapper 
.element-about-us-mission-section-wrapper-content-info .element-about-us-mission-wrapper-content-writeUp p{
    font-size: var(  --main-site-font-size );
   margin: 25px 0;
   text-align:justify ;
   line-height: var(--main-site-line-height);
   word-spacing: 2px;
}

@media (max-width:900px){
    .element-about-us-mission-section .elemeent-about-us-mission-section-wrapper{
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        text-align: center;
    }
}

@media (max-width:768px){
.element-about-us-mission-section .elemeent-about-us-mission-section-wrapper 
.element-about-us-mission-section-image-wrapper .big-image{
    position: static;
    width: 100%;
    margin-top: 10px;
    transform: none;
  }

.element-about-us-mission-section .elemeent-about-us-mission-section-wrapper 
.element-about-us-mission-section-image-wrapper .small-image{
    position: static;
    width: 100%;
  }

.element-about-us-mission-section .elemeent-about-us-mission-section-wrapper 
.element-about-us-mission-section-image-wrapper{
    max-width: 1000px;
  }
}


.element-numbers-counter-section .element-numbers-section-wrapper{
    width: 100%;
    height: 480px;
    position: relative;
}

.element-numbers-counter-section .element-numbers-section-wrapper .fade-in-animate{
  opacity: 0;
  transform: translateY(50px);
  transform: translateY(50px);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
  transition-delay: var(--delay, 2s); 
  visibility: hidden;
}

.element-numbers-counter-section .element-numbers-section-wrapper .fade-in-animate.visible{
    opacity: 1;
   transform: translateY(0);
   visibility: visible;
}

.element-numbers-counter-section .element-numbers-section-wrapper img{
    width: 100%;
    height: 480px;
    object-fit: cover;
}

.element-numbers-counter-section .element-numbers-section-wrapper 
.element-numbers-count-wrapper{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    gap: 70px;
    z-index: 500;
}

.element-numbers-counter-section .element-numbers-section-wrapper  
.element-numbers-section-overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}

.element-numbers-counter-section .element-numbers-section-wrapper 
.element-numbers-count-wrapper .element-numbers-count h2{
    font-size: var(  --main-site-font-max-size);
    color: var(--main-site-hdr);
    z-index: 300;
}

.element-numbers-counter-section .element-numbers-section-wrapper 
.element-numbers-count-wrapper .element-numbers-count P{
    color: var(--main-site-hdr);
    margin-top: -10px;
}

@media(max-width:768px){
.element-numbers-counter-section .element-numbers-section-wrapper 
.element-numbers-count-wrapper{
    flex-direction: column;
    top: 60% ;
    gap: 10px;
    z-index: 500;
}
.element-numbers-counter-section .element-numbers-section-wrapper 
.element-numbers-count-wrapper .element-numbers-count h2{
    font-size: 50px;
}
}

/* facilities section styling */
.element-facilities-section{
    padding: 60px 20px;
    background-color: var(--main-site-background);
}

.element-facilities-section .element-facilities-section-heading-wrapper{
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.element-facilities-section .element-facilities-section-heading-wrapper 
.element-facilities-section-h2 h2{
    font-size: var( --main-site-font-max3-size);
    color: var(--main-site-text3);
}

.element-facilities-section .element-facilities-section-heading-wrapper .element-facilities-section-write-up{
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
}

.element-facilities-section  .element-facilities-section-icons-wrapper{
    width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 15px;
}


.element-facilities-section  .element-facilities-section-icons-wrapper .element-facilities-section-icons{
    padding: 25px;
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: var(--main-site-hdr);
}

.element-facilities-section  .element-facilities-section-icons-wrapper .element-facilities-section-icons 
.element-facilities-section-icon{
    font-size: var(--main-site-font-med-size);
    color: var(--main-site-h1-h2);
}

.element-facilities-section  .element-facilities-section-icons-wrapper 
.element-facilities-section-icons h3{
    font-family: var(--main-site-font-family);
    font-weight: var(--main-site-font-weight);
}

@media (max-width:850px){
    .element-facilities-section  .element-facilities-section-icons-wrapper{
        grid-template-columns: repeat(2, 3fr);
    }
}

@media (max-width:600px){
    .element-facilities-section  .element-facilities-section-icons-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }

     .element-facilities-section .element-facilities-section-heading-wrapper 
     .element-facilities-section-h2 h2{
          font-size: var( --main-site-font-med-size);
     }
}

/*  */
.element-testimonial-section{
    padding: 60px 30px;
    background-color: var(--main-site-hdr);
}


.testimonial-heading h2{
    font-size: var( --main-site-font-max3-size);
    color: var(--main-site-text3);
}

.my-swiper {
  max-width: 1000px;
  margin: 40px auto;
  overflow: hidden;
}

.testimonial-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--font-color-dark);
}

.swiper-slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.testimonial-card {
  background: var(--main-site-background);
  padding: 25px  5px; 
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.client-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.testimonial-text {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 15px;
  line-height: var( --main-site-line-height);
  word-spacing: 2px;
}

.testimonial-stars {
  color: #FFD700;
  font-size: 1.2rem;
}

.client-name {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  color: var(--font-color-dark);
}

.client-socials {
  margin-top: 10px;
}

.client-socials a {
  margin: 0 5px;
  color: #555;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.client-socials a:hover {
  color: var(--main-site-h1-h2);
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--main-site-text) !important;
    width: 40px !important;
    height: 40px !important;
    background: var(--main-site-hdr);
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin: -120px -13px !important;
}


@media (max-width:500px){
    .testimonial-heading h2{
        font-size: var( --main-site-font-med-size);
    }
}











 


 























/* about-us-section media */



