/* root site color */
:root  {
    --main-site-hdr:#fff;
    --main-site-text:#0b0b0d;
    --main-site-background1 :	#373538;
     --main-site-h1-h2:orange; 
    --main-transparent: transparent ;
    --main-site-background: #7a7a7a28;
    --main-site-text2:#53624ee8;
    --main-site-text3:#61ce70;
    --main-site-hr-line: grey;
   --main-site-trans:transparent;
   --main-site-end:black;
}

:root{
    /* --main-site-font-minn-size :13px; */
    --main-site-font-size :13px;
    --main-site-font-min-med-size :20px;
    --main-site-font-med-size :30px;
    --main-site-font-max-size  : 70px;
    --main-site-font-max3-size:40px;
    --main-site-max-2-size :50px;
    --main-site-line-height: 1.4rem;
    --main-site-font-weight:100;
    --main-site-font-min1-size :12px;

}
:root{
    --font-family-1 :'Roboto';
    --font-family-2 : 'Poppins' sans-serif;
}





  




  
    



/*  navigation to other pages and loading of contents   
/*let pageName = window.location.pathname.split("/").pop().split(".")[0];
let links = document.querySelectorAll(".element-top-nav-bar-links")

links.forEach((element, i )=> {
  if(element.getAttribute("aria-data-type") === pageName.toLowerCase()){
    links[i].classList.add("active") 
  }
});*/



/*Adding the Slide-show-container to the home-section
 /*var slideIndex = 0;
  showSlides();

  function showSlides(){
   var ii;
   var slides = document.getElementsByClassName('element-home-section-container');
   for(ii = 0; ii < slides.length ; ii++){
    slides[ii].style.display = 'none'
   }
    slideIndex++;
   if(slideIndex > slides.length){
    slideIndex = 1}
   slides[slideIndex-1].style.display = 'block'
   setTimeout(showSlides, 2000);
   };*/



    /* <div class="swiper-slide">
        <img src="assets/images/haven-hill-rooms-images/one bedroom.jfif" class="room-swiper-img" alt="One Bedroom Apartment">
         
        <div class="element-room-top-heading">
          <h3>One Bedroom Apartment</h3>
         </div>

         <div class="element-room-icons-wrapper">
           <div class="icon-text-wrapper">
             <span><i class="fas fa-users"></i> 1 Guests </span>
          </div>

          <div class="icon-text-wrapper">
             <span><i class="fas fa-bed"></i> 1 Bedroom</span>
          </div>

        <div class="icon-text-wrapper">
             <span><i class="fas fa-bath"></i> 1 Bathroom </span>
          </div>
        </div>

    <div class="element-room-section-view-info-write-up">
      <p>
        Your cozy home away from home. our one-bedroom apartment offers the perfect blend of comfort and conveniences.
        Our one-bedroom apartment features a fully equipped facilities, comfortable living area, and a tranquil Bedroom.
        Everything you need for a comfortable stay. 
      </p>
    </div>
  </div>

      
      <div class="swiper-slide">
        <img src="assets/images/haven-hill-rooms-images/one bedroom.jfif" class="room-swiper-img" alt="One Bedroom Apartment">
         
        <div class="element-room-top-heading">
          <h3>One Bedroom Apartment</h3>
         </div>

         <div class="element-room-icons-wrapper">
           <div class="icon-text-wrapper">
             <span><i class="fas fa-users"></i> 1 Guests </span>
          </div>

          <div class="icon-text-wrapper">
             <span><i class="fas fa-bed"></i> 1 Bedroom</span>
          </div>

        <div class="icon-text-wrapper">
             <span><i class="fas fa-bath"></i> 1 Bathroom </span>
          </div>
        </div>

    <div class="element-room-section-view-info-write-up">
      <p>
        Your cozy home away from home. our one-bedroom apartment offers the perfect blend of comfort and conveniences.
        Our one-bedroom apartment features a fully equipped facilities, comfortable living area, and a tranquil Bedroom.
        Everything you need for a comfortable stay. 
      </p>
    </div>
  </div>

      
      <div class="swiper-slide">
        <img src="assets/images/haven-hill-rooms-images/one bedroom.jfif" class="room-swiper-img" alt="One Bedroom Apartment">
         
        <div class="element-room-top-heading">
          <h3>One Bedroom Apartment</h3>
         </div>

         <div class="element-room-icons-wrapper">
           <div class="icon-text-wrapper">
             <span><i class="fas fa-users"></i> 1 Guests </span>
          </div>

          <div class="icon-text-wrapper">
             <span><i class="fas fa-bed"></i> 1 Bedroom</span>
          </div>

        <div class="icon-text-wrapper">
             <span><i class="fas fa-bath"></i> 1 Bathroom </span>
          </div>
        </div>

    <div class="element-room-section-view-info-write-up">
      <p>
        Your cozy home away from home. our one-bedroom apartment offers the perfect blend of comfort and conveniences.
        Our one-bedroom apartment features a fully equipped facilities, comfortable living area, and a tranquil Bedroom.
        Everything you need for a comfortable stay. 
      </p>
    </div>
  </div>

      
      <div class="swiper-slide">
        <img src="assets/images/haven-hill-rooms-images/one bedroom.jfif" class="room-swiper-img" alt="One Bedroom Apartment">
         
        <div class="element-room-top-heading">
          <h3>One Bedroom Apartment</h3>
         </div>

         <div class="element-room-icons-wrapper">
           <div class="icon-text-wrapper">
             <span><i class="fas fa-users"></i> 1 Guests </span>
          </div>

          <div class="icon-text-wrapper">
             <span><i class="fas fa-bed"></i> 1 Bedroom</span>
          </div>

        <div class="icon-text-wrapper">
             <span><i class="fas fa-bath"></i> 1 Bathroom </span>
          </div>
        </div>

    <div class="element-room-section-view-info-write-up">
      <p>
        Your cozy home away from home. our one-bedroom apartment offers the perfect blend of comfort and conveniences.
        Our one-bedroom apartment features a fully equipped facilities, comfortable living area, and a tranquil Bedroom.
        Everything you need for a comfortable stay. 
      </p>
    </div>
  </div>

      
      <div class="swiper-slide">
        <img src="assets/images/haven-hill-rooms-images/one bedroom.jfif" class="room-swiper-img" alt="One Bedroom Apartment">
         
        <div class="element-room-top-heading">
          <h3>One Bedroom Apartment</h3>
         </div>

         <div class="element-room-icons-wrapper">
           <div class="icon-text-wrapper">
             <span><i class="fas fa-users"></i> 1 Guests </span>
          </div>

          <div class="icon-text-wrapper">
             <span><i class="fas fa-bed"></i> 1 Bedroom</span>
          </div>

        <div class="icon-text-wrapper">
             <span><i class="fas fa-bath"></i> 1 Bathroom </span>
          </div>
        </div>

    <div class="element-room-section-view-info-write-up">
      <p>
        Your cozy home away from home. our one-bedroom apartment offers the perfect blend of comfort and conveniences.
        Our one-bedroom apartment features a fully equipped facilities, comfortable living area, and a tranquil Bedroom.
        Everything you need for a comfortable stay. 
      </p>
    </div> */